.navbar-brand h5 {
	color: deepskyblue;
	font-family: "Open Sans", sans-serif;
	font-style: italic;
}

#ionicon:before {
	color: deepskyblue !important;
}

#contact .form button[type="submit"] {
	background: deepskyblue !important;
}
.section-header h3{
	color: deepskyblue;
}

.heading-section h3 {
    font-size: 26px;
    font-weight: 600;
    color: deepskyblue;
}

.navbar {
	background-color: deepskyblue;
}
